<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orogersilva.spotmusicalarm.device">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <receiver
            android:name=".alarm.AlarmManagerBroadcastReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
